#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.despesa-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style: none;
  width: 100%;
}

.despesa-item {
  background: #dfdfdf;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  flex: 0 1 auto;
  color: #000;
}
